Documents/
Downloads/
.config/*
!.config/awesome/
!.config/alacritty/
!.config/bspwm/
!.config/dunst/
!.config/FZF/
!.config/greenclip.toml
!.config/i3/
!.config/kitty/
!.config/picom/
!.config/polybar/
!.config/polybar.old/
!.config/rofi/
!.config/ranger/
!.config/sxiv/
!.config/sxhkd/
!.config/tmux/
!.config/zathura
.cargo/
.anydesk/
.Xauthority
.cache/
.dir_colors
.fehbg
.fonts/
.gitconfig
.gtk-bookmarks
.gtkrc-2.0
.icons/
.kde4/
.lesshst
.local/
.mozilla/
.nanorc
.newsboat/
.npm/
.nvidia-settings-rc
.nvm/
.pki/
.redhat/
.sf/
.sfdx/
.ssr/
.themes/
.trash
.viminfo
.vscode/
.w3m/
.zcompdump
.zhistory
Desktop/
Pictures/
Videos/
dev/
sample
