/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "fancy";
  matching: "fuzzy";
  sort-method: "fuzzy";
  font:"Fira Code 18";
}
@import "/usr/share/rofi/themes/fancy.rasi"
@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@import "~/.cache/wal/colors-rofi-dark"
